header {
    background-color: #fff;
  }
  .navbar {
    min-height: 70px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 24px;
  }
  
  .brand-name {
    display: flex;
    flex-grow: 1;
  }
  
  .hamburger {
    display: block;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5.7px auto;
    transition: all 0.3s ease-in-out;
    background-color: #000;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
   
  .menu-list {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(16, 16, 16, 0.2);
    width: 100%;
    height: 100%;
    text-align: start;
    transition: 0.002s;
  }
  
  .menu-list.active {
    left: 0;
  }
  
  .nav-menu {
    width: 100%;
    color: #000;
    background-color: #fff;
    border-top: 1px solid #B2B2B9;
    padding: 10px 20px 30px;
  }
  .nav-item{
    position: relative;
  }
  .nav-link img{
   display: none;
  }
  .nav-item,
  .nav-sub-item {
    margin: 16px 0;
  }
  .nav-sub-item a{
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .nav-sub-item span {
    font-size: 0.6rem;
  
  }
  
  .btnSearch {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search input {
    display: none;
    background-color: #f4f5fb;
    padding:15px 40px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    outline: 5px solid #f4f5fb ;
    border: none;
  }
  .search input:hover{
    outline-color: #FDEFFB;
    background-color: #fff;
  }
  
  .auth-btn .login-btn {
    display: none;
    padding: 10px;
  }
  .signup-btn {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
  }
  
  .sub-list {
    padding: 0 20px;
    margin: 20px 0;
    border-left: 1px solid #B2B2B9;
  }